.ForgotPassword
{    width: 30%;
    height: 267px;
    margin-top: 4%;
    margin-left: 30%;
    padding: 5%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}
.fundooLogo {

    font-size: 230%;
    position: relative;
    display: flex;
    width: 100%;
     top: -11%; 
    justify-content: center;
    text-align: center;
}
.ForgotPasswordtitle {
     position: relative;
    top: -20%;
    text-align: center;
    font-size: 107%;
    padding-bottom: 4%;
}


.emailtext{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5%;
    position: relative;
    top: -5%;
}

.forgotbutton{
    padding-bottom: 4%;
    display: flex;  
    justify-content: space-between;
}
@media only screen and (max-width: 360px) {
    .fundooLogo {
        font-size: 178%;
        position: relative;
        display: flex;
        width: 100%;
         top: -11%; 
        /* height: 50px; */
        justify-content: center;
        text-align: center;
    }
    .ForgotPasswordtitle {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        padding-bottom: 5%;
        margin-left: -6%;
        position: relative;
        top: -22%;
        padding: -4%;
    }
    .emailtext{

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        padding-bottom: 5%;
        position: relative;
        top: -11%;
    }
    .forgotbutton{
        padding-bottom: 4%;
        display: flex;
        justify-content: space-between;
        /* flex-direction: row; */
        /* align-items: flex-start; */
        position: relative;
        margin-left: -7%;
    }
}
