.resetPasswordPage{

    width: 50%;
    margin-left: 25%;
    margin-top: 8%;
    padding: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.fundooLogo{
    font-size: 220%;
    padding-bottom: 2%;
    display: flex;
    position: relative;
    justify-content: center;
   
}
.resetPasswordTag{
    color: #442424;
    font-size: 100%;
    padding-bottom: 4%;
    margin-top: -7%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
   
}
.passwordFeild{

    padding-bottom: 4%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
.confirmPasswordFeild{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4%;
    width: 80%;
    margin-left: 10%;
}
.buttons{
    padding: 4%;
    display: flex;
    justify-content: space-around;
   
}